.backimage {
    background-image: url("https://images.alphacoders.com/958/958190.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 300%;
    position: absolute;
}

.buttonDelete {
    padding: 0.2em;
    margin: 0.3em;
    background-color: rgb(250, 76, 76);
    color: #fff;
    border: none;
    border-radius: 2em;
}

.selects {
    background: #263238;
    color: #fff;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.backimageLoading {
    background-image: url("https://images.alphacoders.com/958/958190.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}