* {
    padding: 0px;
    margin: 0px;
}

.flexContainer {
    display: flex;
}

.firstContainer {
    font-size: 10px;
    color: #fff;
    background-color: #263238;
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 3.5em;
    margin: 15%;
}

.text {
    font-size: 2.5em;
    margin: 1.5em;
}

.secondContainer {
    display: flex;
    align-items: center;

    background-color: rgba(179, 200, 209, 0.74);
    width: 100%;

}

.button {
    padding: 20px 40px;
    font-size: 2em;
    margin-top: 2em;
    border-radius: 2em;
    border: none;
}

.button:hover {
    background-color: #4f5b62;
    color: #fff;
    transition: all 0.3s;
}

.gif {
    justify-content: center;
    padding-left: 40%;
    width: 22em;
    height: 25em;
}